@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
body {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f5f3f7;
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.left-background {
  position: absolute;
  z-index: -2;
  background: #d89eff;
  background: linear-gradient(200deg, #e942ff, #8838ff);
  width: 450px;
  height: 1000px;
  border-radius: 220px;
  margin-top: -19.5rem;
  margin-left: -2rem;
}

@media screen and (max-width: 1100px) {
  .left-background {
    margin-left: -10rem;
  }
}

@media screen and (max-width: 700px) {
  .left-background {
    margin-top: -95%;
  }
}

.right-background {
  position: absolute;
  z-index: -2;
  background: #d89eff;
  background: linear-gradient(200deg, #e942ff, #8838ff);
  width: 450px;
  height: 1000px;
  border-radius: 220px;
  margin-top: 10%;
  right: -10%;
  opacity: .035;
}

@media screen and (max-width: 700px) {
  .right-background {
    display: none;
  }
}

.phone {
  background-color: #f5f3f7;
  position: absolute;
  heigth: 510px;
  width: 230px;
  margin-left: 25%;
  margin-top: 5rem;
  border-radius: 25px;
  border: 9px solid white;
  -webkit-box-shadow: 10px 10px 50px #a39daa;
          box-shadow: 10px 10px 50px #a39daa;
}

@media screen and (max-width: 1100px) {
  .phone {
    margin-left: 10%;
  }
}

@media screen and (max-width: 700px) {
  .phone {
    margin-left: 27.5%;
  }
}

.phone .notch {
  position: relative;
  z-index: 3;
  margin: 0 auto;
  margin-top: -6.55px;
  width: 130px;
  height: 20px;
  padding-top: 5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;
}

.phone .top-menu {
  z-index: 1;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  margin-top: -22px;
  background: #8838ff;
  background: linear-gradient(200deg, #e942ff 20%, #8838ff);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
}

.phone .top-menu .left-arrow {
  font-weight: 500;
  position: absolute;
  margin-left: 10px;
  margin-top: 2%;
}

.phone .top-menu .name {
  font-size: .75rem;
  position: absolute;
  margin-left: 5%;
  padding-top: 5px;
}

.phone .top-menu .status {
  font-size: .5rem;
  margin-left: 27.5%;
  margin-top: -5%;
  padding-bottom: 10px;
  color: #d89eff;
}

.phone .top-menu .avatar {
  width: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 12.5%;
  margin-top: 2%;
}

.phone .top-menu .dots {
  font-size: .5rem;
  line-height: .5;
  position: absolute;
  right: 2%;
  top: 45%;
}

.phone .message {
  font-size: .5rem;
  width: 125px;
  min-height: 15px;
  background-color: rgba(163, 157, 170, 0.25);
  border-radius: 7.5px;
  text-align: left;
  margin: 10px;
  line-height: 1.5;
}

.phone .message p {
  color: #9241c8;
  padding: 5px;
}

.phone #message3, .phone #message4 {
  margin-left: 42%;
  padding: 0;
  background-color: white;
}

.phone #message3 p, .phone #message4 p {
  color: black;
}

.phone #message4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 63%;
}

.phone .image-container {
  margin-left: 41%;
  margin-top: 10px;
}

.phone .image-container .image {
  width: 40px;
  border-radius: 10px;
}

.phone .price-box {
  background: #8838ff;
  background: linear-gradient(45deg, #e942ff 20%, #8838ff 80%);
  width: 150px;
  margin: 10px;
  color: white;
  font-size: .5rem;
  border-radius: 10px;
  border-bottom-left-radius: 5px;
  padding: 7px 0;
}

.phone .price-box .circle {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #d89eff;
  margin-left: 6px;
  margin-top: 2px;
}

.phone .price-box .time-walk {
  margin-left: 30px;
  font-weight: 300;
}

.phone .price-box .price {
  font-size: .80rem;
  font-weight: 700;
  min-height: 30px;
}

.phone .price-box #price1 {
  margin-left: 17%;
}

.phone .price-box #price2 {
  margin-left: 27.5%;
}

.phone .search-bar {
  background-color: white;
  width: 90%;
  margin: 10px auto;
  height: 35px;
  border-radius: 25px;
}

.phone .placeholder {
  position: absolute;
  margin-top: 12.5px;
  font-size: .65rem;
  margin-left: 20px;
  color: rgba(163, 157, 170, 0.5);
}

.phone .round {
  z-index: 5;
  position: absolute;
  background-color: black;
  height: 25px;
  width: 25px;
  margin-left: 76.5%;
  margin-top: 4px;
  border-radius: 50%;
}

.phone .right-arrow {
  z-index: 7;
  position: absolute;
  margin-top: 7px;
  margin-left: 80.5%;
  color: white;
  font-weight: 700;
}

.word-box {
  width: 440px;
  height: 250px;
  margin-left: 51%;
  position: absolute;
  margin-top: 15%;
}

@media screen and (max-width: 950px) {
  .word-box {
    width: 300px;
  }
}

@media screen and (max-width: 700px) {
  .word-box {
    margin-left: 25%;
    margin-top: 100%;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .word-box {
    padding-top: 20%;
  }
}

.word-box h1 {
  color: #3e2753;
  font-weight: 500;
  font-size: 2.55rem;
}

@media screen and (max-width: 950px) {
  .word-box h1 {
    font-size: 2.45rem;
  }
}

.word-box p {
  color: #a39daa;
  line-height: 1.5;
}

@media screen and (max-width: 950px) {
  .word-box p {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */